{% extends "layout.html" %}
{% block title %} Home {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/styles/home.css">
{% endblock %}

{% block main %}
    <img id="background-image" class="background-home" src="/static/images/bg1.jpg" alt="">
    <h1 class="slogan">Building a Better Tomorrow, Today.</h1>
    <h3 class="slogan2">Expert in Swimming Pool Creation, Build and Design, and Construction Solutions.</h3>
    <a href="/aboutus"><h6 class="readmore" >Read more &rArr;</h6></a>

    {% endblock %}
